@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

header {
  position: fixed;
  padding: 0rem 7rem;
  box-shadow: 0 5px 25px 0 rgba(226, 0, 116, 0.5);
  background-color: #151820;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  z-index: 3;
}

.leftHead {
  font-family: "Roboto", sans-serif;
}

.logo{
  width: 2.5rem; margin-right: 1rem;
}
.logo2{
  width: 1rem; margin-left: 1rem;
}

.leftHead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}
.rightHead {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightHead-1 {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.4rem;
}

.rightHead-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.8rem;
  font-weight: 600;
  overflow: hidden;
}



#liactive{
  height: 4.4rem;
  background-image: linear-gradient(to top, #72134b, #1d212c);
}
.rightHead-list, .lihover{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lH1, .lH2{
    padding: 0 .5rem;
}
.lH1{
  text-decoration: underline;
}

.link-CSS{
  text-decoration: none;
  color: #ffffff;
}

button,
a,
#toggleNavbar,
.child_side_navbar_top,
.child_side_navbar_bottom,
.top_child_navbar_eleL p,
th,
td,
.checkbox_default, Link, 
input {
  cursor: pointer;
}