* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.EmptyDiv{
  color: white;
}
body {
  font-family: "Roboto";
  height: 100vh;
  background-image: linear-gradient(to top, #2f3545, #1d212c);
}

@media only screen and (max-width: 3000px) and (min-width: 2000px) {
  html {
      font-size: 22px;
  }
}

@media only screen and (max-width: 4000px) and (min-width: 3001px) {
  html {
      font-size: 32px;
  }
}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.content{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9rem 7rem 4.5rem 7rem;
}